# Avoid temp and backup files.
.*.swp
*.old
*.bak

# Avoid Devel::Cover files.
/cover_db

# Avoid configuration metadata file
/MYMETA.*

# Avoid Module::Build generated and utility files.
/Build
/Build.bat
/_build
/Build.COM
/BUILD.COM
/build.com

/MANIFEST
/README
/META.*
/blib
/Makefile.PL

# Avoid archives of this distribution
/Text-FixedLengthMultiline-*
Debian_CPANTS.txt
